header{
    height: 100px;
    padding: 10px 0;
}

body{
    width: 1050px;
    border: 0.5px solid grey;
    border-radius: 5px;
    margin: 0 auto;
}
header h1{
    float: left;
    font-size: 50px; 
    font-weight: 100;
    color: #861BBF;
}
header aside {
    float: right;
    background: linear-gradient(#96A4C2, #361BCC);
    background: -webkit-linear-gradient(#96A4C2, #361BCC);
    background: -o-linear-gradient(#96A4C2, #361BCC);
    background: -moz-linear-gradient(#96A4C2, #361BCC);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 35px
}

.clear{
    clear: both;   
}

#leftsidebar{
    float: left;   
}

#rightsidebar{
    float: right;
}




footer{
    height: 60px;
    background: linear-gradient(#75A5DB, #3336D5);
    background: -webkit-linear-gradient(#75A5DB, #3336D5);
    background: -o-linear-gradient(#75A5DB, #3336D5);
    background: -moz-linear-gradient(#75A5DB, #3336D5);
    padding: 10px 35%;
    margin-top: 15px
}