header{
    height: 100px;
    padding: 10px 0;
}

body{
    width: 1050px;
    border: 0.5px solid grey;
    border-radius: 5px;
    margin: 0 auto;
}
header h1{
    float: left;
    font-size: 50px; 
    font-weight: 100;
    color: #861BBF;
}
header aside {
    float: right;
    background: linear-gradient(#96A4C2, #361BCC);
    background: -webkit-linear-gradient(#96A4C2, #361BCC);
    background: -o-linear-gradient(#96A4C2, #361BCC);
    background: -moz-linear-gradient(#96A4C2, #361BCC);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 35px
}
 
.search{
     float: left; 
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E30C91;
    border: 1px solid #3EC6D0;
}
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
    border: 1px solid #C1A4D6;
}
.clear{
    clear: both;   
}

#menu{
    height: 70px;
    background: linear-gradient(#E4E9F0, #6F0A97);
    background: -webkit-linear-gradient(#E5E7EB, #6F0A97);
    background: -o-linear-gradient(#EDEFF1, #6F0A97);
    background: -moz-linear-gradient(#DADEE4, #6F0A97);
    padding: 7px 0;
}
ul{
    list-style: none;   
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #E71287;
}

#menu ul li:last-child{
    border-right: none;   
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #FCF8F8;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: #F6F5F7;
}


#introduction{
    background: linear-gradient(#9ED4D6, #47B7DA); 
    background: -webkit-linear-gradient(#9ED4D6, #47B7DA); 
    background: -o-linear-gradient(#9ED4D6, #47B7DA); 
    background: -moz-linear-gradient(#9ED4D6, #47B7DA); 
    padding: 30px;
    margin: 16px 0;
}
#introduction h3{
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}
#introduction p{
    font-size: 25px; 
    color: #1013D4;
    text-align: justify;
}
.sidebar{
    margin-top: 35px;
    height: 450px;
    width: 400px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px;
}

.sidebar h3{
    color: #B314DB;
    font-size: 30px;
}

.sidebar ul{
    padding-top: 8px;   
}
#leftsidebar ul li{
    padding: 4px 0 4px 10px;
}

#rightsidebar ul li{
    padding: 17px 0 17px 70px;
    }
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#leftsidebar{
    float: left;   
}

#rightsidebar{
    float: right;
}




footer{
    height: 60px;
    background: linear-gradient(#75A5DB, #3336D5);
    background: -webkit-linear-gradient(#75A5DB, #3336D5);
    background: -o-linear-gradient(#75A5DB, #3336D5);
    background: -moz-linear-gradient(#75A5DB, #3336D5);
    padding: 10px 35%;
    margin-top: 15px
}